#root {
  background-color: #052C49;
  min-height: 100vh;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header-image {
  width: 100%;
}

.MuiListItemText-root {
  color: white;
  text-align: center;
  font-weight: 400;
}

.MuiInputBase-root .MuiInputBase-input {
  color: white;
  text-align: center;
  font-weight: 400;
  min-width: 100%;
}

.MuiInputBase-root .MuiInputBase-input textarea {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  min-width: 100%;
}

.header-form fieldset {
    border-bottom: 3px solid #EB9F53 !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.header-form fieldset .Mui-disabled {
  color: white !important;
  border-bottom: 3px solid #4B2E5C !important;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

/* Animations */

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.rise-enter {
  opacity: 0;
  transform:translateY(-100%);
}
.rise-enter-active {
  opacity: 1;
  transform:translateY(0);
  transition: opacity 300ms, transform 500ms;
}
.rise-exit {
  opacity: 1;
  transform:translateY(0);
}
.rise-exit-active {
  opacity: 0;
  transform:translateY(200%);
  transition: opacity 300ms, transform 10000ms;
}